table {
	background-color: black;
	color: aqua;
	border: 3px solid silver;
	font-family: Comic Sans MS;
}
tr, td {
	border: 1px solid silver;
	width: 250px;
}
td:hover {
	background-color: white;
	color: black;
}
th {
	background-color: gray;
	text-align: left;
}
