/*  Dave Defourneaux	        */	    
/*  dave.defourneaux@gmail.com	*/
/*  github.com/dd4no		    */

body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

h1, h2, h3, p, nav, table{
    text-align: center;
}

section {
    padding: 10px 10px;
    margin: 10px auto;
}

div {
    padding: 10px 10px;
    margin: 10px auto;
}

#signup {
    width: 80%;
}

form {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

form input[type="text"], textarea, fieldset {
    display: block;
    padding: 10px;
    border: 2px solid silver;
    margin: 10px auto;
    border-radius: 10px;
    outline: none;
    width: 60%;
    background: gray;
    box-shadow: 5px 2px 1px black ;
    font-size: 16px;
}

::placeholder {
    color: lightyellow;
}

form textarea, fieldset {
    margin: 20px auto;
}

form fieldset {
    width:50%;
    text-align: center;
}

form input[type="submit"] {
    display: block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px auto;
    color: black;
    font-weight: 900;
    width: 10%;
    background: silver;

}