/*  Dave Defourneaux	        */	    
/*  dave.defourneaux@gmail.com	*/
/*  github.com/dd4no		    */


/***********  GENERAL STYLES  **********/

* {
    box-sizing: border-box; /* Universally set boxes to border within */
}

html {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 16px; /* Default font family and size */
}

body {
    margin: 0%; /* Display site to edge of browser screen */
    background-color: gray;
}

a {
    color: dodgerblue; /* Set color for all anchor elements */
    font-weight: bold;
    text-decoration: none;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

footer  {
    padding-top: 2%;
    bottom: 0;
   /* visibility: hidden; /* Hide element */
}


/**********  NAVBAR  **********/

/* .navwrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}*/

.navbar {
    margin: 5px auto 0 auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    text-align: center;
    
    
}

ul {
    padding: 0;
    border:3px double rgb(67, 25, 255);
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    display: block;
    list-style: none;
    background-color: rgb(25,25,25);
    opacity: 70%;
    width: 95%;
   
    
}

li {
    display: inline-block;
    padding: 5px 50px;
    font-size: 1.5em;
}

li a:hover {
    color: lime;
}

ul:hover {
    box-shadow: 0 0 5px lightblue inset;
}


/**********  VIDEO  **********/

#video {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    visibility: hidden; /* Hide element */
}

.video-text {
    padding: 100px;
    width: 100%;
    background: rgba(5,5,5,0.1);
    color: white;
    position: relative;

    
}

.title-text {
    font-size: 3em;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(67, 25, 255);
}

/**********  TABLE  **********/

.row {

}

.row:after {
    content:" ";
    display: table;
    clear: both;
}

.image-box {
    padding: 10px;
    width: 50%;
    height: 400px;
    float: left;
    background-color: lightgrey;
    /*background-image: url('../images/circuits.jpg');*/
    overflow: hidden;

}

.image-box-tall {
    padding-top: 5%;
    height: 500px;

}

.text-box {
    padding: 10px;
    width: 50%;
    height: 400px;
    float: left;
    background-color: wheat;

}

.text-box-tall {
    padding-top: 5%;
    height: 500px;
}


.logo {
    color: rgb(67, 25, 255);
    font-size: 2em;
}